body{
  margin: 0;
}
h1{
  margin-top: 0;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0;
}
p{
  height: 300px;
}
.top-container{
  background-color:pink;



}
.middle-container{

}
.bottom-container{

}
